:global {
  #home {
    width: 100%;
    text-align: center;
    
    #title {
      margin: 0 auto;
    }

    .mdl-card {
      font-size: 19px;
      margin: 10px auto;
    }

    #header {
      background-size: cover;
      background: url("/assets/home-title.jpg") no-repeat bottom;
      width: 100%;
      margin-bottom: 50px;

      .container{
        margin-bottom: 0px;
      }

      h1 {
        margin: 50px 0;
      }

      #logo {
        #rocket {
          position: absolute;
          top: 40px;
        }

        #planet {
          position: absolute;
          margin-top: 20px;
        }
      }

      
      #title {
        @media screen and (min-width: 1024px) {
          float: left;  
        }
      }
    }
  }
}