@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

:global {

  h1 {
    color: #005245
  }
  h4 {
    margin-bottom: 40px;
  }

  #home {
    width: 100%;
    text-align: center;
    margin: 0 auto;

    #header {
      background-size: cover;
      background: url("/assets/home-title.jpg") bottom;
      width: 100%;

      .container{
        margin-bottom: 0px;
      }

      #logo {
        #rocket {
          position: absolute;
          top: 40px;
        }

        #planet {
          position: absolute;
          margin-top: 20px;
          padding-bottom: 50px;
        }
      }

      #title {
        float: left;
      }
    }

    .container {
      max-width: 900px;
      margin: 0 auto;
      padding-bottom: 100px;
    }

    .mdl-card{
      padding: 20px;
    }
  }
}